[Unit]
Description=Nexus Repository Manager
After=network.target

[Service]
Type=forking
ExecStart={{ nexus_install_directory }}/bin/nexus start
ExecStop={{ nexus_install_directory }}/bin/nexus stop
User={{ nexus_user }}
Restart=on-abort

[Install]
WantedBy=multi-user.target
